= form_tag sessions_path, :class => "form-signin", :method => :post do

  %h2.form-signin-heading Please sign in
  %label.sr-only{:for => "inputEmail", name: "email"} Email address
  %input#inputEmail.form-control{:autofocus => "",
                                 :placeholder => "Email address",
                                 :required => "",
                                 :type => "email", name: "email"}/

  
  %label.sr-only{:for => "inputPassword"} Password
  %input#inputPassword.form-control{name: 'password',
                                    :placeholder => "Password",
                                    :required => "", :type => "password"}/
    
  .checkbox
    %label
      %input{:type => "checkbox", :value => "remember-me"}/
      Remember me
  %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Sign in

