- if @user.errors.any?
  .error_messages
    %h3 Form submission error:
    %ul
      - for message in @user.errors.full_messages
        = content_tag :div, message, :id => "form__error", :class=> "alert alert-danger", :role => 'alert'
       
