%div{:class => "col-xs-3"}
  = render :partial => "table", locals: { category: "Proximates" }
%div{:class => "col-xs-3"}
  = render :partial => "table", locals: { category: "Vitamins" }
%div{:class => "col-xs-3"}
  = render :partial => "table", locals: { category: "Minerals" }
%div{:class => "col-xs-3"}
  = render :partial => "table", locals: { category: "Lipids" }
