%h4=@food.name
-# row 1
%div{:class =>'row'}
  %div{:class =>'col-sm-12'}
    = render :partial => 'nested_grid'

-# row 4 quantity select; measure drown-down, and add button
%div{:class =>'row foodformrow'}
  %div{:class =>'col-sm-12'}
    = render :partial => 'food_form'

%div{:class =>'row foodformrow'}
  %div{:class =>'col-sm-12'}
    = render :partial => 'delete_entry'
