-# row 1
%div{:class =>'row'}
  %div{:class =>'col-sm-12'}
    = render :partial => "new_form"

-# row 2
%div{:class =>'row'}
  %div{:class =>'col-sm-12'}
    - if not @items.nil?
      = select_tag(:food_type_id, options_for_select(@items), size: 20,
      :class => "form-control" )

-# row 3 text panel 2 rows of 3 columns
%div{:class =>'row'}
  %div{:class =>'col-sm-12'}
    = render :partial => 'nested_grid'


-# row 4 quantity select; measure drown-down, and add button
%div{:class =>'row'}
  %div{:class =>'col-sm-12'}
    = render :partial => 'food_form'
