%h4=@food['name']
-# %h9{:style=>"font-size: xx-small;"}=@food

%dl
  %div{:class => "panel panel-default", :style=> 'border-width: 1px; border-color: black;'}
    %div{:class => "panel-heading"}='Nutrition Information'
    %div{:class => "panel-body"}
      = render :partial => "tables"
