%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => root_path} Diet Analyzer
    %ul.nav.navbar-nav
      %li.active
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li
          %a{:href => logout_path}
            %span.glyphicon.glyphicon-user
              = current_user.email
        %li
          %a{:href => logout_path}
            %span.glyphicon.glyphicon-log-in
            Logout

        %li
          %a{:href => about_path}
            %span.glyphicon.glyphicon-log-in
            About


      - else
        %li
          %a{:href => signup_path}
            %span.glyphicon.glyphicon-user
            Sign Up
        %li
          %a{:href => login_path}
            %span.glyphicon.glyphicon-log-in
            Login
        %li
          %a{:href => about_path}
            %span.glyphicon.glyphicon-log-in
            About
